version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "05:30"
    timezone: Europe/London
  reviewers:
    - "martincostello"
- package-ecosystem: nuget
  directory: "/"
  groups:
    spectre:
      patterns:
        - Spectre.Console*
    xunit:
      patterns:
        - xunit*
  schedule:
    interval: daily
    time: "05:30"
    timezone: Europe/London
  reviewers:
    - "martincostello"
  open-pull-requests-limit: 99
  ignore:
    - dependency-name: "Microsoft.Build.Utilities.Core"
    - dependency-name: "Microsoft.TestPlatform.ObjectModel"
    - dependency-name: "System.Text.Json"
