name: integration-tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
  workflow_dispatch:

permissions: {}

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_NOLOGO: true
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  FORCE_COLOR: 3
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

jobs:
  package:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      dotnet-outdated-version: ${{ steps.get-dotnet-outdated-version.outputs.dotnet-outdated-version }}
      dotnet-sdk-version: ${{ steps.get-dotnet-sdk-version.outputs.dotnet-version }}

    steps:

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      id: get-dotnet-sdk-version

    - name: Publish NuGet package
      shell: pwsh
      run: |
        dotnet tool restore
        dotnet pack

    - name: Publish NuGet packages
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: packages
        path: ./artifacts/package/release
        if-no-files-found: error

    - name: Get dotnet-outdated version
      id: get-dotnet-outdated-version
      shell: pwsh
      run: |
        $dotnetOutdatedVersion = (Get-Content "./.config/dotnet-tools.json" | Out-String | ConvertFrom-Json).tools.'dotnet-outdated-tool'.version
        "dotnet-outdated-version=${dotnetOutdatedVersion}" >> ${env:GITHUB_OUTPUT}

  test:
    needs: [ package ]
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        include:
          - repo: alexa-london-travel
            upgrade-type: Latest
          - repo: alexa-london-travel
            upgrade-type: Preview
          - repo: alexa-london-travel-site
            upgrade-type: Latest
          - repo: alexa-london-travel-site
            test: false
            upgrade-type: Preview
            warnings-as-errors: false
          - repo: apple-fitness-workout-mapper
            upgrade-type: Latest
          - repo: apple-fitness-workout-mapper
            test: false
            upgrade-type: Preview
          - repo: costellobot
            upgrade-type: Latest
          - repo: costellobot
            upgrade-type: Preview
          - repo: dotnet-bumper
            upgrade-type: Latest
          - repo: dotnet-bumper
            test: false
            upgrade-type: Preview
          - repo: dotnet-bumper-test
            upgrade-type: Latest
          - repo: dotnet-bumper-test
            upgrade-type: LTS
          - repo: dotnet-bumper-test
            upgrade-type: Preview
          - repo: eurovision-hue
            upgrade-type: Latest
          - repo: eurovision-hue
            upgrade-type: Preview
          - repo: project-euler
            upgrade-type: Latest
          - repo: project-euler
            upgrade-type: Preview
          - repo: website
            upgrade-type: Latest
          - repo: website
            upgrade-type: Preview

    steps:

    - name: Setup Node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '24'

    - name: Checkout ${{ format('{0}/{1}', github.repository_owner, matrix.repo) }}
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        filter: 'tree:0'
        persist-credentials: false
        repository: ${{ format('{0}/{1}', github.repository_owner, matrix.repo) }}
        ref: ${{ format('{0}/{1}', github.repository_owner, matrix.repo) == github.repository && github.ref || '' }}
        show-progress: false
        submodules: 'recursive'

    - name: Install .NET SDKs
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: |
          6.0.x
          7.0.x
          8.0.x
          9.0.x
          10.0.x

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: Setup .NET SDK for .NET Bumper
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ needs.package.outputs.dotnet-sdk-version }}

    - name: Download packages
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: packages
        path: ./packages

    - name: Install .NET Bumper
      shell: pwsh
      env:
        DOTNET_OUTDATED_VERSION: ${{ needs.package.outputs.dotnet-outdated-version }}
      run: |
        dotnet tool install --global dotnet-outdated-tool --version ${env:DOTNET_OUTDATED_VERSION}
        dotnet tool install --global MartinCostello.DotNetBumper --add-source ./packages --prerelease

    - name: Generate .NET Bumper config
      id: generate-config
      shell: pwsh
      run: |
        $configFile = ""
        $hasConfigFile = ((Test-Path -Path ".dotnet-bumper.json") -Or (Test-Path -Path ".dotnet-bumper.yml")) -Or (Test-Path -Path ".dotnet-bumper.yaml")
        if (-Not $hasConfigFile) {
          $tempFile = [System.IO.Path]::GetTempFileName()
          $config = @{
            noWarn = @(
              'CA1515',
              'SYSLIB0057'
            )
          }
          $config | ConvertTo-Json | Out-File -FilePath $tempFile | Out-Null
          $configFile = $tempFile
        }
        "dotnet-bumper-config=${configFile}" >> ${env:GITHUB_OUTPUT}

    - name: Run .NET Bumper
      shell: pwsh
      env:
        DOTNET_BUMPER_CONFIG: ${{ steps.generate-config.outputs.dotnet-bumper-config }}
        DOTNET_BUMPER_TEST: ${{ format('{0}', matrix.test) }}
        DOTNET_BUMPER_UPGRADE_TYPE: ${{ matrix.upgrade-type }}
        DOTNET_BUMPER_WARNINGS_AS_ERRORS: ${{ format('{0}', matrix.warnings-as-errors) }}
      run: |
        $bumperArgs = @(
          ".",
          "--log-format",
          "GitHubActions",
          "--timeout",
          "00:25:00",
          "--upgrade-type",
          ${env:DOTNET_BUMPER_UPGRADE_TYPE}
        )
        if (${env:DOTNET_BUMPER_TEST} -ne "false") {
          $bumperArgs += "--test"
        }
        if (${env:DOTNET_BUMPER_WARNINGS_AS_ERRORS} -ne "false") {
          $bumperArgs += "--warnings-as-errors"
        }
        if (-Not [string]::IsNullOrEmpty(${env:DOTNET_BUMPER_CONFIG})) {
          $bumperArgs += "--configuration-file"
          $bumperArgs += ${env:DOTNET_BUMPER_CONFIG}
        }
        if (${env:RUNNER_DEBUG} -eq "1") {
          $bumperArgs += "--verbose"
        }
        dotnet bumper $bumperArgs

    - name: Show git diff
      if: ${{ !cancelled() }}
      shell: pwsh
      run: |
        git config color.diff always
        git --no-pager diff

  integration-tests:
    needs: [ package, test ]
    if: ${{ !cancelled() }}
    env:
      TESTS_SUCCESS: ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
    runs-on: ubuntu-latest
    steps:
    - run: |
        if [ "$TESTS_SUCCESS" == "true" ]
        then
          echo 'Integration tests successful ✅'
        else
          echo 'Integration tests failed ❌'
          exit 1
        fi
